doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- 기본적인 css가 적용된 mvp css를 사용
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Noom
    body 
        header 
            h1 Noom
        main 
            
        script(src="/public/js/app.js")
        //- ↓ 이것이 socket.io를 frontend에 설치하는 방법
        script(src="/socket.io/socket.io.js")
        